
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log


*.lib
*.sbr

[Oo]bj/
[Bb]in/
[Rr]elease*/
[Dd]ebug/
[Nn]ode_modules*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

[Bb]in
[Dd]ebug*/
obj/
.idea/
/.vs/EASY-TOOLS/v17/.suo
/.vs/EASY-TOOLS/v17/DocumentLayout.backup.json
/.vs/EASY-TOOLS/v17/DocumentLayout.json
/EASYTools.Calculator/obj/Debug/net452/Calculator.g.i.cs
/EASYTools.Calculator/obj/Debug/net452/EASYTools.Calculator_MarkupCompile.i.cache
/EASYTools.Calculator/obj/Debug/net452/EASYTools.Calculator.AssemblyInfo.cs
/EASYTools.Calculator/obj/Debug/net452/EASYTools.Calculator.AssemblyInfoInputs.cache
/EASYTools.Calculator/obj/Debug/net452/EASYTools.Calculator.assets.cache
/EASYTools.Calculator/obj/Debug/net452/EASYTools.Calculator.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.Calculator/obj/EASYTools.Calculator.csproj.nuget.dgspec.json
/EASYTools.Calculator/obj/EASYTools.Calculator.csproj.nuget.g.props
/EASYTools.Calculator/obj/project.assets.json
/EASYTools.Calculator/obj/project.nuget.cache
/EASYTools.Calendar/obj/Debug/net462/EASYTools.Calendar.AssemblyInfo.cs
/EASYTools.Calendar/obj/Debug/net462/EASYTools.Calendar.AssemblyInfoInputs.cache
/EASYTools.Calendar/obj/Debug/net462/EASYTools.Calendar.assets.cache
/EASYTools.Calendar/obj/Debug/net462/EASYTools.Calendar.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.Calendar/obj/EASYTools.Calendar.csproj.nuget.dgspec.json
/EASYTools.Calendar/obj/EASYTools.Calendar.csproj.nuget.g.props
/EASYTools.Calendar/obj/project.assets.json
/EASYTools.Calendar/obj/project.nuget.cache
/EASYTools.CrashReporter/obj/Debug/net462/EASYTools.CrashReporter_MarkupCompile.i.cache
/EASYTools.CrashReporter/obj/Debug/net462/EASYTools.CrashReporter.AssemblyInfo.cs
/EASYTools.CrashReporter/obj/Debug/net462/EASYTools.CrashReporter.AssemblyInfoInputs.cache
/EASYTools.CrashReporter/obj/Debug/net462/EASYTools.CrashReporter.assets.cache
/EASYTools.CrashReporter/obj/Debug/net462/EASYTools.CrashReporter.csproj.AssemblyReference.cache
/EASYTools.CrashReporter/obj/Debug/net462/EASYTools.CrashReporter.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.CrashReporter/obj/Debug/net462/ucExceptions.g.i.cs
/EASYTools.CrashReporter/obj/Debug/net462/ucGeneral.g.i.cs
/EASYTools.CrashReporter/obj/Debug/net462/ucScreenshot.g.i.cs
/EASYTools.CrashReporter/obj/Debug/net462/wdoCrashReport.g.i.cs
/EASYTools.CrashReporter/obj/EASYTools.CrashReporter.csproj.nuget.dgspec.json
/EASYTools.CrashReporter/obj/EASYTools.CrashReporter.csproj.nuget.g.props
/EASYTools.CrashReporter/obj/project.assets.json
/EASYTools.CrashReporter/obj/project.nuget.cache
/EASYTools.DBEntitySchema/obj/Debug/net6.0/EASYTools.DBEntitySchema.AssemblyInfo.cs
/EASYTools.DBEntitySchema/obj/Debug/net6.0/EASYTools.DBEntitySchema.AssemblyInfoInputs.cache
/EASYTools.DBEntitySchema/obj/Debug/net6.0/EASYTools.DBEntitySchema.assets.cache
/EASYTools.DBEntitySchema/obj/Debug/net6.0/EASYTools.DBEntitySchema.csproj.AssemblyReference.cache
/EASYTools.DBEntitySchema/obj/Debug/net6.0/EASYTools.DBEntitySchema.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.DBEntitySchema/obj/EASYTools.DBEntitySchema.csproj.nuget.dgspec.json
/EASYTools.DBEntitySchema/obj/EASYTools.DBEntitySchema.csproj.nuget.g.props
/EASYTools.DBEntitySchema/obj/project.assets.json
/EASYTools.DBEntitySchema/obj/project.nuget.cache
/EASYTools.HighlightTextBox/obj/Debug/net462/EASYTools.HighlightTextBox.AssemblyInfo.cs
/EASYTools.HighlightTextBox/obj/Debug/net462/EASYTools.HighlightTextBox.AssemblyInfoInputs.cache
/EASYTools.HighlightTextBox/obj/Debug/net462/EASYTools.HighlightTextBox.assets.cache
/EASYTools.HighlightTextBox/obj/Debug/net462/EASYTools.HighlightTextBox.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.HighlightTextBox/obj/EASYTools.HighlightTextBox.csproj.nuget.dgspec.json
/EASYTools.HighlightTextBox/obj/EASYTools.HighlightTextBox.csproj.nuget.g.props
/EASYTools.HighlightTextBox/obj/project.assets.json
/EASYTools.HighlightTextBox/obj/project.nuget.cache
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/Controls/RichTextEditor.g.i.cs
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/EASYTools.HTMLEditorNoImg_MarkupCompile.i.cache
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/EASYTools.HTMLEditorNoImg.AssemblyInfo.cs
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/EASYTools.HTMLEditorNoImg.AssemblyInfoInputs.cache
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/EASYTools.HTMLEditorNoImg.assets.cache
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/EASYTools.HTMLEditorNoImg.csproj.AssemblyReference.cache
/EASYTools.HTMLEditorNoImg/obj/Debug/net462/EASYTools.HTMLEditorNoImg.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.HTMLEditorNoImg/obj/EASYTools.HTMLEditorNoImg.csproj.nuget.dgspec.json
/EASYTools.HTMLEditorNoImg/obj/EASYTools.HTMLEditorNoImg.csproj.nuget.g.props
/EASYTools.HTMLEditorNoImg/obj/project.assets.json
/EASYTools.HTMLEditorNoImg/obj/project.nuget.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Default.AssemblyInfo.cs
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Default.AssemblyInfoInputs.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Default.assets.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Default.csproj.AssemblyReference.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Default.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/EASYTools.HTMLFullEditor.Locale.Default.csproj.nuget.dgspec.json
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/EASYTools.HTMLFullEditor.Locale.Default.csproj.nuget.g.props
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/project.assets.json
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Default/obj/project.nuget.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Override.AssemblyInfo.cs
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Override.AssemblyInfoInputs.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Override.assets.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Override.csproj.AssemblyReference.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/Debug/net462/EASYTools.HTMLFullEditor.Locale.Override.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/EASYTools.HTMLFullEditor.Locale.Override.csproj.nuget.dgspec.json
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/EASYTools.HTMLFullEditor.Locale.Override.csproj.nuget.g.props
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/project.assets.json
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor.Locale.Override/obj/project.nuget.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/Dialogs/HyperlinkDialog.g.i.cs
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/Dialogs/ImageDialog.g.i.cs
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/EASYTools.HTMLFullEditor_MarkupCompile.i.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/EASYTools.HTMLFullEditor.AssemblyInfo.cs
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/EASYTools.HTMLFullEditor.AssemblyInfoInputs.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/EASYTools.HTMLFullEditor.assets.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/EASYTools.HTMLFullEditor.csproj.AssemblyReference.cache
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/EASYTools.HTMLFullEditor.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/Debug/net462/Views/EditorToolbar.g.i.cs
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/EASYTools.HTMLFullEditor.csproj.nuget.dgspec.json
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/EASYTools.HTMLFullEditor.csproj.nuget.g.props
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/project.assets.json
/EASYTools.HTMLFullEditor/EASYTools.HTMLFullEditor/obj/project.nuget.cache
/EASYTools.ImageEffectLibrary/obj/Debug/net452/EASYTools.ImageEffectLibrary.AssemblyInfo.cs
/EASYTools.ImageEffectLibrary/obj/Debug/net452/EASYTools.ImageEffectLibrary.AssemblyInfoInputs.cache
/EASYTools.ImageEffectLibrary/obj/Debug/net452/EASYTools.ImageEffectLibrary.assets.cache
/EASYTools.ImageEffectLibrary/obj/Debug/net452/EASYTools.ImageEffectLibrary.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.ImageEffectLibrary/obj/EASYTools.ImageEffectLibrary.csproj.nuget.dgspec.json
/EASYTools.ImageEffectLibrary/obj/EASYTools.ImageEffectLibrary.csproj.nuget.g.props
/EASYTools.ImageEffectLibrary/obj/project.assets.json
/EASYTools.ImageEffectLibrary/obj/project.nuget.cache
/EASYTools.LicenseGenerator/obj/Debug/net6.0/EASYTools.LicenseGenerator.AssemblyInfo.cs
/EASYTools.LicenseGenerator/obj/Debug/net6.0/EASYTools.LicenseGenerator.AssemblyInfoInputs.cache
/EASYTools.LicenseGenerator/obj/Debug/net6.0/EASYTools.LicenseGenerator.assets.cache
/EASYTools.LicenseGenerator/obj/Debug/net6.0/EASYTools.LicenseGenerator.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.LicenseGenerator/obj/Debug/net8.0/EASYTools.LicenseGenerator.AssemblyInfo.cs
/EASYTools.LicenseGenerator/obj/Debug/net8.0/EASYTools.LicenseGenerator.AssemblyInfoInputs.cache
/EASYTools.LicenseGenerator/obj/Debug/net8.0/EASYTools.LicenseGenerator.assets.cache
/EASYTools.LicenseGenerator/obj/Debug/net8.0/EASYTools.LicenseGenerator.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.LicenseGenerator/obj/EASYTools.LicenseGenerator.csproj.nuget.dgspec.json
/EASYTools.LicenseGenerator/obj/EASYTools.LicenseGenerator.csproj.nuget.g.props
/EASYTools.LicenseGenerator/obj/project.assets.json
/EASYTools.LicenseGenerator/obj/project.nuget.cache
/EASYTools.LicenseVerify/obj/Debug/net6.0/EASYTools.LicenseVerify.AssemblyInfo.cs
/EASYTools.LicenseVerify/obj/Debug/net6.0/EASYTools.LicenseVerify.AssemblyInfoInputs.cache
/EASYTools.LicenseVerify/obj/Debug/net6.0/EASYTools.LicenseVerify.assets.cache
/EASYTools.LicenseVerify/obj/Debug/net6.0/EASYTools.LicenseVerify.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.LicenseVerify/obj/Debug/net8.0/EASYTools.LicenseVerify.AssemblyInfo.cs
/EASYTools.LicenseVerify/obj/Debug/net8.0/EASYTools.LicenseVerify.AssemblyInfoInputs.cache
/EASYTools.LicenseVerify/obj/Debug/net8.0/EASYTools.LicenseVerify.assets.cache
/EASYTools.LicenseVerify/obj/Debug/net8.0/EASYTools.LicenseVerify.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.LicenseVerify/obj/EASYTools.LicenseVerify.csproj.nuget.dgspec.json
/EASYTools.LicenseVerify/obj/EASYTools.LicenseVerify.csproj.nuget.g.props
/EASYTools.LicenseVerify/obj/project.assets.json
/EASYTools.LicenseVerify/obj/project.nuget.cache
/EASYTools.MarkdownToFlow/obj/Debug/net462/EASYTools.MarkdownToFlow.AssemblyInfo.cs
/EASYTools.MarkdownToFlow/obj/Debug/net462/EASYTools.MarkdownToFlow.AssemblyInfoInputs.cache
/EASYTools.MarkdownToFlow/obj/Debug/net462/EASYTools.MarkdownToFlow.assets.cache
/EASYTools.MarkdownToFlow/obj/Debug/net462/EASYTools.MarkdownToFlow.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.MarkdownToFlow/obj/EASYTools.MarkdownToFlow.csproj.nuget.dgspec.json
/EASYTools.MarkdownToFlow/obj/EASYTools.MarkdownToFlow.csproj.nuget.g.props
/EASYTools.MarkdownToFlow/obj/project.assets.json
/EASYTools.MarkdownToFlow/obj/project.nuget.cache
/EASYTools.MarkdownToHtml/obj/Debug/net462/EASYTools.MarkdownToHtml.AssemblyInfo.cs
/EASYTools.MarkdownToHtml/obj/Debug/net462/EASYTools.MarkdownToHtml.AssemblyInfoInputs.cache
/EASYTools.MarkdownToHtml/obj/Debug/net462/EASYTools.MarkdownToHtml.assets.cache
/EASYTools.MarkdownToHtml/obj/Debug/net462/EASYTools.MarkdownToHtml.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.MarkdownToHtml/obj/EASYTools.MarkdownToHtml.csproj.nuget.dgspec.json
/EASYTools.MarkdownToHtml/obj/EASYTools.MarkdownToHtml.csproj.nuget.g.props
/EASYTools.MarkdownToHtml/obj/project.assets.json
/EASYTools.MarkdownToHtml/obj/project.nuget.cache
/EASYTools.MonacoProvider/obj/Debug/net6.0/EASYTools.MonacoProvider.AssemblyInfo.cs
/EASYTools.MonacoProvider/obj/Debug/net6.0/EASYTools.MonacoProvider.AssemblyInfoInputs.cache
/EASYTools.MonacoProvider/obj/Debug/net6.0/EASYTools.MonacoProvider.assets.cache
/EASYTools.MonacoProvider/obj/Debug/net6.0/EASYTools.MonacoProvider.csproj.AssemblyReference.cache
/EASYTools.MonacoProvider/obj/Debug/net6.0/EASYTools.MonacoProvider.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.MonacoProvider/obj/EASYTools.MonacoProvider.csproj.nuget.dgspec.json
/EASYTools.MonacoProvider/obj/EASYTools.MonacoProvider.csproj.nuget.g.props
/EASYTools.MonacoProvider/obj/project.assets.json
/EASYTools.MonacoProvider/obj/project.nuget.cache
/EASYTools.MultiSelectComboBox/obj/Debug/net462/EASYTools.MultiSelectComboBox_MarkupCompile.cache
/EASYTools.MultiSelectComboBox/obj/Debug/net462/EASYTools.MultiSelectComboBox.AssemblyInfo.cs
/EASYTools.MultiSelectComboBox/obj/Debug/net462/EASYTools.MultiSelectComboBox.AssemblyInfoInputs.cache
/EASYTools.MultiSelectComboBox/obj/Debug/net462/EASYTools.MultiSelectComboBox.assets.cache
/EASYTools.MultiSelectComboBox/obj/Debug/net462/EASYTools.MultiSelectComboBox.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.MultiSelectComboBox/obj/EASYTools.MultiSelectComboBox.csproj.nuget.dgspec.json
/EASYTools.MultiSelectComboBox/obj/EASYTools.MultiSelectComboBox.csproj.nuget.g.props
/EASYTools.MultiSelectComboBox/obj/project.assets.json
/EASYTools.MultiSelectComboBox/obj/project.nuget.cache
/EASYTools.SqlConnectionDialog/obj/Debug/net452/EASYTools.SqlConnectionDialog_MarkupCompile.cache
/EASYTools.SqlConnectionDialog/obj/Debug/net452/EASYTools.SqlConnectionDialog_MarkupCompile.lref
/EASYTools.SqlConnectionDialog/obj/Debug/net452/EASYTools.SqlConnectionDialog.AssemblyInfo.cs
/EASYTools.SqlConnectionDialog/obj/Debug/net452/EASYTools.SqlConnectionDialog.AssemblyInfoInputs.cache
/EASYTools.SqlConnectionDialog/obj/Debug/net452/EASYTools.SqlConnectionDialog.assets.cache
/EASYTools.SqlConnectionDialog/obj/Debug/net452/EASYTools.SqlConnectionDialog.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.SqlConnectionDialog/obj/EASYTools.SqlConnectionDialog.csproj.nuget.dgspec.json
/EASYTools.SqlConnectionDialog/obj/EASYTools.SqlConnectionDialog.csproj.nuget.g.props
/EASYTools.SqlConnectionDialog/obj/project.assets.json
/EASYTools.SqlConnectionDialog/obj/project.nuget.cache
/EASYTools.TouchKeyboard/obj/Debug/net452/Controls/FloatingTouchScreenKeyboard.g.i.cs
/EASYTools.TouchKeyboard/obj/Debug/net452/EASYTools.TouchKeyboard_MarkupCompile.i.cache
/EASYTools.TouchKeyboard/obj/Debug/net452/EASYTools.TouchKeyboard.AssemblyInfo.cs
/EASYTools.TouchKeyboard/obj/Debug/net452/EASYTools.TouchKeyboard.AssemblyInfoInputs.cache
/EASYTools.TouchKeyboard/obj/Debug/net452/EASYTools.TouchKeyboard.assets.cache
/EASYTools.TouchKeyboard/obj/Debug/net452/EASYTools.TouchKeyboard.csproj.AssemblyReference.cache
/EASYTools.TouchKeyboard/obj/Debug/net452/EASYTools.TouchKeyboard.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.TouchKeyboard/obj/EASYTools.TouchKeyboard.csproj.nuget.dgspec.json
/EASYTools.TouchKeyboard/obj/EASYTools.TouchKeyboard.csproj.nuget.g.props
/EASYTools.TouchKeyboard/obj/project.assets.json
/EASYTools.TouchKeyboard/obj/project.nuget.cache
/EASYTools.VNCClient/obj/Debug/net48/EASYTools.VNCClient.AssemblyInfo.cs
/EASYTools.VNCClient/obj/Debug/net48/EASYTools.VNCClient.AssemblyInfoInputs.cache
/EASYTools.VNCClient/obj/Debug/net48/EASYTools.VNCClient.assets.cache
/EASYTools.VNCClient/obj/Debug/net48/EASYTools.VNCClient.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.VNCClient/obj/EASYTools.VNCClient.csproj.nuget.dgspec.json
/EASYTools.VNCClient/obj/EASYTools.VNCClient.csproj.nuget.g.props
/EASYTools.VNCClient/obj/project.assets.json
/EASYTools.VNCClient/obj/project.nuget.cache
/EASYTools.VNCLib/obj/Debug/net48/EASYTools.VNCLib_MarkupCompile.cache
/EASYTools.VNCLib/obj/Debug/net48/EASYTools.VNCLib.AssemblyInfo.cs
/EASYTools.VNCLib/obj/Debug/net48/EASYTools.VNCLib.AssemblyInfoInputs.cache
/EASYTools.VNCLib/obj/Debug/net48/EASYTools.VNCLib.assets.cache
/EASYTools.VNCLib/obj/Debug/net48/EASYTools.VNCLib.GeneratedMSBuildEditorConfig.editorconfig
/EASYTools.VNCLib/obj/EASYTools.VNCLib.csproj.nuget.dgspec.json
/EASYTools.VNCLib/obj/EASYTools.VNCLib.csproj.nuget.g.props
/EASYTools.VNCLib/obj/project.assets.json
/EASYTools.VNCLib/obj/project.nuget.cache
